<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Displaying Output</title>
    <style>
        html{
            max-width: 800px;
            max-height: 800px;
        }
    </style>
</head>
<body>
    <h1>Displaying Output</h1>
    <br>
    <h2>Prompt: <%- prompt %></h2>
    <br>
    <br>

    <p><%- response%></p>

    <a href="/">HOME</a>
</body>
</html>