<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatGPT Text Generator</title>
    <style>
        .fancy{
            font-weight: bold;
            font-style: italic;
        }
    </style>
</head>
<body>
    <h1>ChatGPT Response Generator</h1>

    <p>This app will allow users to input statements and generate responses using
        the <span class="fancy">OpenAI ChatGPT 3</span> text generator. </p>

    <p>Navigate to this page and enter the prompt for which you want text generated. <br></p>

    <p>The following are examples of good prompts: 
        <ul>
            <li>
                Write a slogan for an ice cream store.
            </li>
            <br>
            <li>
                Decide whether a Tweet's sentiment is positive, neutral, or negative.
                <br>
                Tweet: I loved the new Batman movie!
                <br>
                Sentiment: 
            </li>
            <br>
            <li>
                Classify the sentiment in these tweets: <br>
                <br>
                    1. "I can't stand homework"<br>
                    2. "This sucks. I'm bored 😠"<br>
                    3. "I can't wait for Halloween!!!"<br>
                    4. "My cat is adorable ❤️❤️"<br>
                    5. "I hate chocolate"<br>
                <br>
                    Tweet sentiment ratings: <br>
            </li>
        </ul>
    </p>

    <br>

    <h2>LIMITATIONS</h2>
    <ul>
        <li>This should not be used to generate anything hateful.</li>
        <li>There is a roughly a 120 word limit on responses, so this cannot generate any very large responses.</li>
    </ul>
    <a href="/form">FORM</a>

    <br><br>

    <p>To view previous prompts and responses, please click here.</p>

    <a href="/previousResponses">Previous responses</a>
</body>
</html>